@{
    ViewData["Title"] = "IPhone 8";
}

<div class="row text-center">
    <div class="di-card">
        <img class="img-responsive" src="~/images/page1.png" alt="Imagem parte de tras do IPhone 8" />
    </div>
    <div class="di-card-separator"></div>
    <div class="di-card">
        <img class="img-responsive" src="~/images/page2.png" alt="Descrição do IPhone 8" />
    </div>
    <div class="di-card-separator"></div>
    <div class="di-card">
        <img class="img-responsive" src="~/images/page3.png" alt="Imagem do display do IPhone 8" />
    </div>
    <div class="di-card-separator"></div>
    <div class="di-card">
        <img class="img-responsive" src="~/images/page4.png" alt="Imagem da camera do IPhone 8" />
    </div>
    <div class="di-card-separator"></div>
    <div class="di-card">
        <img class="img-responsive" src="~/images/page5.png" alt="Texto Waith fo it" />
    </div>
</div>